@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 10px;
  font-family: 'LibreBaskerville';
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#phone-number {
  font-size: 8rem;
  margin: 50px;
}

.slogan {
  margin: 10px;
  font-size: 4rem;
}
