@font-face {
  font-family: 'GreatVibes';
  src: url('/fonts/GreatVibes-Regular.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 10px;
  font-family: 'LibreBaskerville';
}

body {
  background: #230C0f;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

#contact-container {
  background: #230C0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

#contact-container>img {
  height: 500px;
}

#contact-header2 {
  font-size: 5rem;
  font-family: 'GreatVibes';
  color: darkorange;
}
